<%= form_for @shelter.animal do |animal| %>

   <p>Animal Name: <%= shelter.text_field :name %></p>
   <p>Species: <%= shelter.text_field : %></p>
   <p> Photo: <%= shelter.text_field
   <p><%= photo.submit %></p>

<% end %